.container {
  height: 100vh;
}

@media (max-width: 500px) {
  .container {
    height: auto;
  }
}

h2, p, a {
  color: #f9f9f9;
}

h3 {
  color: #f9f9f9;
  font-size: .9rem;
}

select {
  background-color: #0C0C0D;
  border-color: #0C0C0D;
  color: #f9f9f9;
  cursor: pointer;
}

textarea {
  resize: vertical; /* Tylko pionowe rozszerzanie */
}

.d-none {
  display: none !important;
}

.error-message, .success-message {
  font-size: .7rem;
  color: #f9f9f9;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}