.container {
  height: 100vh;
  padding-top: 80px;
}

h2, p {
  color: #f9f9f9;
}

h3 {
  color: #f9f9f9;
  font-size: .9rem;
}

select {
  background-color: #0C0C0D;
  border-color: #0C0C0D;
  color: #f9f9f9;
  cursor: pointer;
}

textarea {
  resize: vertical; /* Tylko pionowe rozszerzanie */
}

.d-none {
  display: none !important;
}

.error-message, .success-message {
  font-size: .7rem;
}