.navbar {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  z-index: 3;

  a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover {
      background-color: #444;
    }
  }
}