.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #959595;
  border-radius: 12px;
  background-color: #151F29;

  h2 {
    text-align: center;
  }

  input {
    display: block;
    width: 578px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0C0C0D;
    background-color: #0C0C0D;
    border-radius: 5px;
    color: #fff;
    &.email {
      pointer-events: none;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #0056b3;
  }

  .avatar-preview {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto;
    display: block;
  }
}

@media (max-width: 500px) {
  .profile-container {
    width: 100%;
    max-width: 300px;
    input {
      width: 100%;
      max-width: 278px;
    }
  }
}
