// Zmienne
$primary-color: #151F29;
$secondary-color: #0F111A;
$hover-color: #959595;
$text-color: #959595;
$background-overlay: rgba(0, 0, 0, 0.7);

// Mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin input-styles {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid $secondary-color;
  border-radius: 5px;
  background-color: $secondary-color;
  color: $text-color;
}

.auth-container {
  width: 400px;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $text-color;
  border-radius: 5px;
  background-color: $primary-color;

  h2 {
    text-align: center;
  }

  input {
    @include input-styles;
    width: 378px;
  }

  button {
    display: block;
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }

  button:hover {
    background-color: $hover-color;
  }
}

.intro {
  background-image: url('../../images/background-pexels.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $background-overlay;
    z-index: 1; // Umieść go nad tłem, ale pod inną zawartością
  }
}

.intro-content {
  position: relative;
  z-index: 2; // Umieść zawartość nad pseudoelementem
}

.main-container {
  @include flex-center;
  flex-direction: row;
  height: 100vh;

  .left-section, .right-section {
    flex: 1;
    padding: 20px;
    text-align: center;
  }

  .left-section {
    .welcome-text {
      font-size: 2rem;
    }
  }
  &.activate {
    flex-direction: column;
  }
}

@media (max-width: 1300px) {
  .main-container {
    flex-direction: column;

    .left-section, .right-section {
      width: 100%;
      padding: 0;
      align-content: center;
    }
  }
}

@media (max-width: 500px) {
  .auth-container {
    width: 100%;
    max-width: 300px;

    input {
      width: 100%;
      max-width: 278px;
    }

    button {
      width: 100%;
      max-width: 300px;
    }
  }
  .right-section {
    margin-bottom: 50px;
  }
}
