.password-container {
  position: relative;
}

.password-container input {
  display: inline-block;
}

.password-container button {
  position: absolute;
  right: 0;
  top: 5px;
  width: auto;
  height: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  color: #959595;
  &:hover {
    background-color: unset;
    color: #fff;
  }
}